@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
a,
.main-text,
footer {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
.header,
.main,
footer {
  background: #1f2937;
  padding: 0 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.right,
.left {
  display: flex;
}

.main {
  display: flex;
  padding: 50px;
  gap: 20px;
}

.main-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}
.placeholder {
  background-color: #e5e7eb;
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  color: #f9faf8;
  border-style: none;
  border-radius: 8px;
  background-color: #3882f6;
  font-size: 18px;
}
/*Random information section*/
.rand-info {
  padding-bottom: 70px;
}
.rand-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  justify-content: center;
  margin: 30px;
}
.tiles {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 150px;
}

.square {
  border-radius: 10px;
  border: 3px solid #3882f6;
  width: 150px;
  height: 150px;
}

.text {
  align-self: center;
  text-align: center;
  color: #1f2937;
}

/*quote section*/
.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
}
.quote-text,
.quote-author {
  color: #1f2937;
}

.quote-text {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
}

.quote-author {
  font-size: 18px;
  font-weight: bold;
  align-self: flex-end;
  padding-right: 30px;
}

/*Action section*/
.rectangle {
  background-color: #3882f6;
  margin: 50px 100px;
  padding: 50px 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.action-title {
  font-size: 24px;
  color: #f9faf8;
}
.action-text {
  color: #f9faf8;
}

#action {
  border: 3px solid #f9faf8;
}

/*Footer section*/
/*Todo: make footer automatically stick to the bottom*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
}
